body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Menu desktop */
.menu-desktop ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: #085a69;
}

.menu-desktop ul li {
    position: relative;
}

.menu-desktop ul li a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.menu-desktop ul li a:hover {
    background-color: #4a89dc;
}

.menu-desktop .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #085a69;
}

.menu-desktop ul li:hover .submenu {
    display: block;
}

.submenu ul {
    display: flex;
    flex-direction: column;
}

.submenu ul li {
    width: 150px;
}

/* Menu mobile */
.menu-mobile {
    display: none;
    heigth: 50px;
}

.menu-mobile .burger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
    background-color: #085a69;
}

.menu-mobile .burger .line {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}

.menu-mobile ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
    flex-direction: column;
    background-color: #085a69;
}

.menu-mobile ul li a {
    padding: 15px;
    color: white;
    text-decoration: none;
}

.menu-mobile ul li a:hover {
    background-color: #4a89dc;
}

/* Responsividade */
@media only screen and (max-width: 768px) {
    .menu-desktop {
        display: none;
    }

    .menu-mobile {
        display: block;
    }

    .menu-mobile ul.show {
        display: flex;
    }
}
