@charset "utf-8";
/* CSS Document */
/*CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, b, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	
}
/*Fim do Reset*/

:root { 
	--cor-fundo: rgb(34, 41, 37);
	--cor-hover: rgb(118, 180, 145);
	--cor-primaria: rgb(231, 241, 236);
	
}


.dp-menu ul {list-style: none;
			padding: 0;


}
.dp-menu ul {background-color: var(--cor-fundo);}


.dp-menu ul li{display: inline;
position: relative;}
.dp-menu ul li a{color: var(--cor-primaria);
text-decoration: none;
	padding: 10px;
display: inline-block;}
.dp-menu ul li a:hover 
{background-color: var(--cor-hover);
}

.dp-menu ul ul {display: none;
	left: 0;
position: absolute;
width: 150px;}

.dp-menu ul li:hover ul{display: block;
}

.dp-menu ul ul a {display:block;
}



.container{
	background-color: cornsilk;
	display: block;
	justify-content: center;
	align-items: center;
	
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	
}
.Topo{background-color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px;
}

.banner h1 {visibility: hidden;}

 


.conteudo{background-image: url("../img/heather-green-Kpj1c6eoPJA-unsplash.jpg");
padding: 20px;	
	
}

.conteudo h2 {text-decoration-line:underline;}
.rodape{background-image: linear-gradient(to top right, #feee00 ,#b6d8ec, #7290be);
padding: 20px;
}
.slides img {
    width: 200px; 
    max-height: 300px; 
    object-fit: cover; 
}

.conteudo{width: 800px;}
.carousel {
    z-index: 1; /* ou outro número menor que o z-index do menu */
    position: relative;
}